<div class="card">
  <div class="card-header">
    Cadastro Produto
    <div class="container">
      <button class="btn btn-success cadastro" (click)="navegaParaCadastraProduto()">Cadastrar</button>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-hover">
        <thead>
            <tr>
              <th>id</th>
              <th>Código Sap</th>
              <th>Nome Produto</th>
              <th>Ação</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>522200</td>
            <td>Produto 1</td>
            <td>
              <button type="button" class="btn btn-primary">Editar</button>
              <button type="button" class="btn btn-danger">Apagar</button>

            </td>
          </tr>
        </tbody>

    </table>
  </div>
</div>
